.about-us {
  background-color: var(--black);

  &__container {
    padding-top: 94px;
    padding-bottom: 33px;
    @include image-set("../img/aboutus-bg");
    background-position: 100% 94px;
    background-repeat: no-repeat;

    @include big-desktop {
      @include image-set("../img/aboutus-bg-1024");
    }

    @media (max-width: 970px) {
      @include image-set("../img/aboutus-bg-768");
      background-position: 0 27%;
      padding-bottom: 94px;
    }

    @include mobile {
      background-image: none;
      padding-top: 54px;
      padding-bottom: 54px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    color: var(--white);
  }

  &__subtitle {
    max-width: 623px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-gray);
    @include mobile {
      font-size: 14px;
    }
  }

  &__descr {
    max-width: 634px;
    margin: 0;
    margin-bottom: 172px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--text-gray);

    @include mobile {
      margin-bottom: 30px;
      font-size: 14px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 30px;

    @include big-desktop {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include small-tablet {
      display: flex;
      flex-direction: column;
    }
  }
}

.form {
  &__textarea {
    height: 150px;
    padding: 30px 32px;
    grid-column: 2 span;
    resize: none;
    transition: all .3s ease-in-out;

    &:hover:not(:focus-visible) {
      background-color: rgba(230, 232, 236, 0.1);
    }

    &.focus-visible {
      background-color: rgba(230, 232, 236, 0.1);
      border-color: var(--primary);
    }
  }

  &__input {
    padding: 25px 32px;
    grid-column: 1 span;
    transition: all .3s ease-in-out;

    &:hover:not(:focus-visible) {
      background-color: rgba(230, 232, 236, 0.1);
    }

    &.focus-visible {
      background-color: rgba(230, 232, 236, 0.1);
      border-color: var(--primary);
    }
  }

  &__btn {
    width: 212px;
    font-size: 20px;
    line-height: 20px;
    padding: 25px 54px;
    grid-column: 2 span;

    &:hover:not(:focus-visible) {
      background-color: var(--primary-light);
      border-color: var(--primary-light);
    }

    &:active:not(:focus-visible) {
      background-color: var(--primary-shade);
      border-color: var(--primary-shade);
    }

    &.focus-visible {
      background-color: var(--primary-light);
      border-color: var(-primary-shade);
    }

    @include mobile {
        padding: 17px 44.5px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__textarea,
  &__input {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--white);
    border: 1px solid var(--white);
    outline: none;
    border-radius: 30px;
    background-color: transparent;

    &::placeholder {
      color: var(--text-gray);
    }

    @include mobile {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__label {
    position: relative;
    align-self: flex-start;
    cursor: pointer;

    &-value {
      padding-left: 22px;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: var(--white);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 14px;
        height: 14px;
        border: 1px solid var(--white);
      }

      &::after {
        content: url("../img/custom-checkbox-icon.svg");
        position: absolute;
        left: 2px;
        top: 2px;
        opacity: 0;
        transition: opacity .3s ease-in-out;
      }

      @include mobile {
        font-size: 9px;
        line-height: 9px;
      }
    }
  }
}

.custom-checkbox {
  display: none;

  &:checked + .form__label-value::after {
    opacity: 1;
  }
}

.about-card {
  &__name {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--white);
    @include mobile {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__pic img{
    margin-bottom: 30px;

    @include big-desktop {
      width: 100%;
    }
  }
}
