.broadcast-card {
  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    top: -6px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 112px;
    padding: 20px 16px;
    border: 1px solid var(--light-color);
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
  }

  &__descr {
    margin: 0;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--text-gray);
  }
}


.broadcast-link {
  @include flex-v-center;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  &__icon {
    width: 28px;
    height: 12px;
    fill: currentColor;
  }
}

.choices {
  &__inner {
    background-color: var(--light-color);
    border: none;
    border-radius: 10px;
  }
}

.choices__list--single .choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.is-open .choices__inner {
  border-radius: 10px 10px 0 0;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  background-color: transparent;
  border: 1px solid var(--text-gray);
  border-radius: 0 0 10px 10px;
}

.is-selected {
  display: none;
}

.choices__item--choice {
  color: var(--text-gray);
  &:not(:last-child) {
    border-bottom: 1px solid var(--text-gray);
  }
}
