.broadcast-card {
  display: flex;
  flex-direction: column;
  outline: none;

  &:hover:not(:focus-visible),
  &.focus-visible {
    .broadcast-card__pic {
      opacity: .7;
    }
  }

  &:active:not(:focus-visible) {
    .broadcast-card__pic {
      opacity: .7;
    }

    .broadcast-link {
      color: var(--primary-shade);
    }
  }

  &.focus-visible {
    .broadcast-link {
      color: var(--primary-light);
    }
  }

  &__content {
    position: relative;
    top: -6px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 112px;
    padding: 20px 16px;
    border: 1px solid var(--light-color);
  }

  &__pic {
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
  }

  &__descr {
    margin: 0;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--text-gray);
  }
}


.broadcast-link {
  @include flex-v-center;
  align-self: flex-start;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  transition: all .3s ease-in-out;
  &__icon {
    width: 28px;
    height: 12px;
    fill: currentColor;
  }
}

.choices {

  &:hover:not(:focus-visible) {
    .choices__inner {
      background-color: rgba(230, 232, 236, 0.4);
    }
  }

  &.focus-visible {
    .choices__inner {
      border-color: var(--primary);
    }
  }

  &__inner {
    background-color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 10px;
    transition: all .3s ease-in-out;
  }
}

.choices__list--single .choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.is-open .choices__inner {
  border-radius: 10px 10px 0 0;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  background-color: transparent;
  border: 1px solid var(--text-gray);
  border-radius: 0 0 10px 10px;
}

.is-selected {
  display: none;
}

.choices__item.is-highlighted {
  color: var(--black);
  background-color: rgba(230, 232, 236, 0.4);
  transition: all .3s ease-in-out;
}

.choices__item.is-highlighted:active:not(:focus-visible) {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.choices__item--choice {
  color: var(--text-gray);
  &:not(:last-child) {
    border-bottom: 1px solid var(--text-gray);
  }
}
