.footer {
  background-color: var(--light-black);
  background-image: url("../img/footer-wave.svg");
  background-position-y: 88%;
  background-repeat: no-repeat;

  &__container {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;

    &-btm {
      padding-bottom: 10px;
      text-align: center;
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    height: 20px;
    margin-bottom: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 109px;
    row-gap: 20px;
  }

  &__link {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
    outline: none;
    z-index: 1;
    transition: all .3s ease-in-out;

    &:hover:not(:focus-visible) {
      color: var(--primary);
    }

    &:hover:not(:focus-visible) {
      color: var(--primary-shade);
    }

    &.focus-visible {
      color: var(--black);
      &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -10px;
        right: -10px;
        bottom: -4px;
        background-color: var(--primary-light);
        transition: all .3s ease-in-out;
        z-index: -1;
      }
    }
  }

  &__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 103.34%;
    color: var(--text-gray);
  }
}

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;

  &__link {
    outline: none;
    &:hover:not(:focus-visible) {
      .social__icon {
        fill: var(--primary);
      }
    }

    &:active:not(:focus-visible) {
      .social__icon {
        fill: var(--primary-shade);
      }
    }

    &.focus-visible {
      .social__icon {
        fill: var(--primary-light);
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--text-gray);
    transition: all .3s ease-in-out;
  }
}
