.guests {
  background-color: var(--black);
  &__container {
    padding-top: 94px;
    padding-bottom: 94px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }

  &__title {
    margin-bottom: 12px;
    color: var(--white);
    grid-column: 12 span;
  }

  &__subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-gray);
    grid-column: 12 span;
  }

  &__descr {
    max-width: 825px;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--text-gray);
    grid-column: 12 span;
  }
}

.accordion {
  grid-column: 8 span;
  &__btn {
    @include flex-v-center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--white);
    outline: none;
    border-top: 1px solid var(--text-gray);
    border-bottom: 1px solid var(--text-gray);
    transition: all .3s ease-in-out;

    &:hover:not(:focus-visible) {
      color: var(--primary-light);

      .accordion__btn-icon {
        stroke: var(--primary-light);
      }
    }

    &:active:not(:focus-visible) {
      color: var(--primary-light);

      .accordion__btn-icon {
        fill: var(--primary-light);
        stroke: var(--white);
      }
    }

    &.focus-visible {
      background: rgba(170, 157, 250, 0.3);
    }

    &.active .accordion__btn-icon {
      transform: none;
    }

    &-icon {
      width: 48px;
      height: 48px;
      fill: none;
      stroke: var(--text-gray);
      stroke-width: 2px;
      transform: rotate(180deg);
      transition: all .3s ease-in-out;
    }
  }

  &__panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;

    &.active {
      padding: 30px 0;
      max-height: 182px;

      @include big-desktop {
        max-height: 216px;
      }
    }
  }
}

.tabs {
  &-container {
    grid-column: 4 span;
    max-width: 350px;
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 16px;

    @include big-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    &-btn {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: var(--white);
      outline: none;
      transition: color .3s ease-in-out;
      z-index: 1;

      &:hover:not(:focus-visible) {
        color: var(--primary);
      }

      &:active:not(:focus-visible) {
        color: var(--primary-shade);
      }

      &.focus-visible {
        color: var(--black);
        &::before {
          content: '';
          position: absolute;
          top: -4px;
          left: -10px;
          right: -10px;
          bottom: -4px;
          background-color: var(--primary-light);
          transition: all .3s ease-in-out;
          z-index: -1;
        }
      }

      &.active {
        color: var(--primary-light);
      }
    }
  }
}

.tab-content {
  display: none;
  flex-direction: column;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;

  &.active {
    display: flex;
  }

  &__list {
    display: flex;
    margin-bottom: 12px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--text-gray);
    transition: all .3s ease-in-out;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--white);
  }

  &__descr {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: var(--text-gray);
  }

  &__link {
    padding: 12px 19.5px;
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--primary-light);
    border: 2px solid var(--primary-light);
    border-radius: 77px;

    &:hover:not(:focus-visible) {
      color: var(--white);
      border-color: var(--primary-light);
      background-color: var(--primary-light);
    }

    &:active:not(:focus-visible) {
      color: var(--white);
      border-color: var(--primary-shade);
      background-color: var(--primary-shade);
    }

    &.focus-visible {
      color: var(--white);
      border-color: var(--primary);
      background-color: var(--primary);
    }
  }

  &__social-link {
    outline: none;

    &:hover:not(:focus-visible) {
      .tab-content__icon {
        fill: var(--primary);
      }
    }

    &:active:not(:focus-visible) {
      .tab-content__icon {
        fill: var(--primary-shade);
      }
    }

    &.focus-visible {
      .tab-content__icon {
        fill: var(--primary-light);
      }
    }
  }

  &__pic {
    margin-bottom: 12px;
  }
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
