.header {
  &__container {
    @include flex-v-center;
  }

  &__top {
    padding: 20px 0;
  }

  &__btm {
    border-top: 1px solid var(--light-color-40);
    border-bottom: 1px solid var(--light-color-40);
  }

  &__mobile {
    display: none;
    background: var(--light-color-40);

    @include tablet {
      display: block;
    }
  }

  &__logo {
    padding-top: 5px;
    margin-right: 80px;

    &.focus-visible {
      outline: none;
    }
  }

  &__btn {
    padding: 10px 30px;
    color: var(--black);

    &:hover:not(:focus-visible) {
      color: var(--white);
      background-color: var(--black);
    }

    &:active:not(:focus-visible) {
      border-color: var(--primary-shade);
      background-color: var(--primary-shade);
    }

    &.focus-visible {
      background-color: var(--primary-light);
    }
  }

  &__list {
    @include flex-v-center;
    margin-right: 66px;
  }

  &__item {
    @include mr(52.5px);
  }

  &-status {
    position: relative;
    @include flex-v-center;
    margin-right: 61px;

    &::before {
      content: '';
      position: absolute;
      left: -13px;
      width: 1px;
      height: 40px;
      background-image: url("../img/divider.svg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__title {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: var(--text-gray);
    }

    &__name {
      max-width: 121px;
      margin: 0;
      padding-right: 7px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: var(--black);
    }

    &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: var(--black);
    }

    &__text {
      min-height: 35px;
      @include flex-v-center;
      flex-direction: column;
    }

    &__btn {
      position: relative;
      top: -1px;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      outline: none;

      &:hover:not(:focus-visible) {
        .header-status__icon {
          fill: var(--primary);
        }
      }

      &:active:not(:focus-visible) {
        .header-status__icon {
          fill: var(--primary-shade);
        }
      }

      &.focus-visible {
        .header-status__icon {
          fill: var(--primary-light);
        }
      }
    }

    &__icon {
      width: inherit;
      height: inherit;
      fill: var(--text-gray);
      transition: fill .3s ease-in;
    }
  }

  &__next {
    margin-right: auto;
    &::after {
        content: '';
        position: absolute;
        right: -44px;
        width: 1px;
        height: 40px;
        background-image: url("../img/divider.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
  }
}

.search {
  width: 24px;
  height: 24px;
  margin-right: 25px;
  outline: none;

  &:hover:not(:focus-visible) {
    .search__icon {
      stroke: var(--primary-light);
    }
  }

  &:active:not(:focus-visible) {
    .search__icon {
      stroke: var(--primary-shade);
    }
  }

  &.focus-visible {
    .search__icon {
      stroke: var(--primary-light);
    }
  }

  &__icon {
    width: inherit;
    height: inherit;
    fill: transparent;
    stroke: var(--primary);
    stroke-width: 2px;
    transition: all .3s ease-in-out;
  }
}

.age {
  @include flex-all-center;
  width: 46px;
  height: 58px;
  background-color: var(--light-color);

  @include big-desktop {
    display: none;
  }

  &__value {
    padding: 7px 5.5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-gray);
    background-color: var(--white);
    border-radius: 100%;
  }
}
