.header {
  &__container {
    @include flex-v-center;
  }

  &__top {
    padding: 20px 0;
  }

  &__btm {
    border-top: 1px solid var(--light-color-40);
    border-bottom: 1px solid var(--light-color-40);

    @include big-desktop {
      .header__container {
      padding-top: 12px;
      padding-bottom: 12px;
    }
   }

   @include mobile {
    display: none;
   }
  }

  &__logo {
    padding-top: 5px;
    margin-right: 80px;

    &.focus-visible {
      outline: none;
    }

    @include big-desktop {
      display: none;
    }

    @include mobile {
      margin-right: auto;
    }
  }

  &__btn {
    padding: 10px 30px;
    color: var(--black);

    &:hover:not(:focus-visible) {
      color: var(--white);
      background-color: var(--black);
    }

    &:active:not(:focus-visible) {
      border-color: var(--primary-shade);
      background-color: var(--primary-shade);
    }

    &.focus-visible {
      background-color: var(--primary-light);
    }

    @include mobile {
      display: none;
    }
  }

  &__mobile {
    display: none;
    background: var(--light-color-40);

    @include big-desktop {
      display: block;
      .header__logo {
        display: block;
      }

      .header__container {
        padding-top: 23px;
        padding-bottom: 23px;
      }
    }

    &-btn {
      display: none;
      @include mobile {
        display: block;
        padding: 9.5px 24px;
      }
    }
  }

  &__list {
    @include flex-v-center;
    margin-right: 66px;
    @include tablet {
      margin-right: 16px;
    }

    @media (max-width: 974px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__item {
    @include mr(52.5px);
    @include big-desktop {
      @include mr(30px);
    }
  }

  &-status {
    position: relative;
    @include flex-v-center;
    margin-right: 61px;

    @media (max-width: 974px) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: -13px;
      width: 1px;
      height: 40px;
      background-image: url("../img/divider.svg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__title {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: var(--text-gray);
    }

    &__name {
      max-width: 121px;
      margin: 0;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: var(--black);

      @include tablet {
        padding-right: 0;
      }
    }

    &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: var(--black);
      white-space: nowrap;
    }

    &__text {
      min-height: 35px;
      @include flex-v-center;
      flex-direction: column;
    }

    &__btn {
      position: relative;
      top: -1px;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      outline: none;

      &:hover:not(:focus-visible) {
        .header-status__icon {
          fill: var(--primary);
        }
      }

      &:active:not(:focus-visible) {
        .header-status__icon {
          fill: var(--primary-shade);
        }
      }

      &.focus-visible {
        .header-status__icon {
          fill: var(--primary-light);
        }
      }
    }

    &__icon {
      width: inherit;
      height: inherit;
      fill: var(--text-gray);
      transition: fill .3s ease-in;
    }
  }

  &__next {
    margin-right: auto;
    &::after {
        content: '';
        position: absolute;
        right: -44px;
        width: 1px;
        height: 40px;
        background-image: url("../img/divider.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
  }

  &__mobile-btm {
    position: relative;
    display: none;
    padding: 14.5px 0;
    border: 1px solid var(--light-color);
    @include mobile {
      display: flex;
      justify-content: center;
    }
  }
}

.search {
  width: 24px;
  height: 24px;
  margin-right: 25px;
  outline: none;

  &:hover:not(:focus-visible) {
    .search__icon {
      stroke: var(--primary-light);
    }
  }

  &:active:not(:focus-visible) {
    .search__icon {
      stroke: var(--primary-shade);
    }
  }

  &.focus-visible {
    .search__icon {
      stroke: var(--primary-light);
    }
  }

  &__icon {
    width: inherit;
    height: inherit;
    fill: transparent;
    stroke: var(--primary);
    stroke-width: 2px;
    transition: all .3s ease-in-out;
  }
}

.age {
  @include flex-all-center;
  width: 46px;
  height: 58px;
  background-color: var(--light-color);

  @include big-desktop {
    display: none;
  }

  &__value {
    padding: 7px 5.5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-gray);
    background-color: var(--white);
    border-radius: 100%;
  }
}

.burger {
  display: none;
  @media (max-width: 970px) {
    display: block;
  }
}

.stream-btn {
  display: flex;
  align-items: center;
  color: var(--primary);

  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: currentColor;
    stroke: var(--white);
  }

  &__value {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
}

.live-status {
  display: flex;
  position: absolute;
  top: 46px;
  height: 73px;
  background: var(--white);
  transform: translateX(-101%);
  opacity: 0;
  transition: all .3s ease-in;
  transition-delay: .3s;

  &__btn {
    display: flex;
    transform: translateX(-101%);
    opacity: 0;
    transition: all .3s ease-in-out;
    transition-delay: .3s;

    &.active {
      opacity: 1;
      transform: none;
    }
  }

  &.active {
    opacity: 1;
    transform: none;
    transition-timing-function: ease-out;
  }
}
