.hero {

  &__container {
    padding-top: 96px;
    padding-bottom: 94px;
    @include image-set("../img/hero-bg.png");
    background-position: 98.2% 49%;
    background-repeat: no-repeat;

    @media (max-width: 970px) {
      background-image: none;
    }
    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--black);

    & span {
      font-weight: 400;
      font-style: italic;
    }

    @include mobile {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__descr {
    max-width: 635px;
    margin: 0;
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--black);

    & span {
      color: var(--primary);
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__btn {
    &:hover:not(:focus-visible) {
      background-color: var(--primary-light);
      border-color: var(--primary-light);
    }

    &:active:not(:focus-visible) {
      background-color: var(--primary-shade);
      border-color: var(--primary-shade);
    }

    &.focus-visible {
      background-color: var(--primary-light);
      border-color: var(-primary-shade);
    }

  }
}
