.nav {

  &__list {
    @include flex-v-center;
    margin-right: 80px;
  }

  &__item {
    @include mr(58.75px);
  }

  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
  }
}
