.nav {

  &__list {
    @include flex-v-center;
    margin-right: 80px;
  }

  &__item {
    @include mr(58.75px);
  }

  &__link {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    outline: none;
    transition: all .3s ease-in-out;

    &:hover:not(:focus-visible) {
      color: var(--primary);
    }

    &:hover:not(:focus-visible) {
      color: var(--primary-shade);
    }

    &.focus-visible {
      color: var(--white);
      animation: fadeEffect .3s;
      &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -10px;
        right: -10px;
        bottom: -4px;
        background-color: var(--primary-light);
        transition: all .3s ease-in-out;
        z-index: -1;
      }
    }
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
