.offer {
  background-color: var(--light-black);

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 133px;

    @media (max-width: 970px) {
      flex-direction: column;
    }

    @include tablet {
      padding-top: 54px;
      padding-bottom: 94px;
    }

    @include mobile {
      padding-top: 54px;
      padding-bottom: 54px;
    }
  }

  &__img {
    position: relative;
    &::before {
      content:  url("../img/offer-new.png");
      position: absolute;
      top: -8px;
      left: 0;

      @include mobile {
        display: none;
      }
    }

    @include big-desktop {
      margin-right: 30px;
      align-self: center;
    }

    @media (max-width: 970px) {
      margin-bottom: 50px;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 36px;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: var(--promo-color);

    &::after {
      content: url("../img/offer-line.png");
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -37px;

    }

    @media (max-width: 970px) {
      .offer__title::after {
        content: url("../img/offer-line-768.png");
      }
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__content {
    max-width: 445px;

    @media (max-width: 970px) {
      max-width: none;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: var(--white);

    @include mobile {
      font-size: 14px;
      line-height: 160%;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: var(--white);

    & span {
      color: var(--promo-color);
    }

    @include mobile {
      font-size: 14px;
      line-height: 160%;
    }
  }

  &__price {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: var(--white);

    @include mobile {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__btn {
    @include flex-v-center;
    width: 305px;
    padding: 25px 13.5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--promo-color);
    border-color: var(--promo-color);

    &:hover:not(:focus-visible) {
      color: var(--black);
      background-color: var(--promo-color);

      .offer__btn-icon {
        background-color: var(--black);
        fill: var(--promo-color);
      }
    }

    &:active:not(:focus-visible) {
      color: var(--black);
      background-color: var(--promo-color-shade);
      border-color: var(--promo-color-shade);
    }

    &.focus-visible {
      color: var(--black);
      border-color: var(--promo-color);
      background-color: var(--promo-color-shade);

      .offer__btn-icon {
        background-color: var(--black);
        fill: var(--promo-color-shade);
      }
    }

    &-icon {
      @include flex-all-center;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-right: 8px;
      fill: var(--light-black);
      background-color: var(--promo-color);
      transition: all .3s ease-in-out;
    }

    @include mobile {
      width: 256px;
      padding: 17px 14px;
      font-size: 16px;
    }
  }
}
