.playlist {

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;

    @include big-desktop {
      flex-direction: column;
    }

    @include mobile {
      padding-top: 54px;
      padding-bottom: 54px;
    }
  }

  &__aside {
    max-width: 350px;
    @include big-desktop {
      max-width: unset;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 160px));
    gap: 30px;
    padding-top: 14px;

    @include big-desktop {
      margin-bottom: 81px;
      grid-template-columns: repeat(3, 1fr);
      justify-self: center;
      justify-content: center;
      column-gap: 50px;
    }

    @media (max-width: 1174px) {
      gap: 30px;
    }

    @media (max-width: 920px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 420px) {
      grid-template-columns: repeat(2, 112px);
    }
  }

  &__mobile {
    position: relative;
    display: none;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      top: -30px;
      border: 1px solid var(--shade-gray);
    }

    @include big-desktop {
      display: block;

      .playlist__descr,
      .playlist__copyright {
        display: block;
      }

      .playlist__age {
        display: flex;
      }
    }
  }

  &__form {
    position: relative;

    margin-bottom: 66px;

    &::after {
      content: '';
      position: absolute;
      bottom: -30px;
      width: 100%;
      border: 1px solid var(--shade-gray);
    }

    @include big-desktop {
      &::after {
        content: none;
      }
    }

    @include mobile {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include big-desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1174px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text-gray);
    @include mobile {
      display: none;
    }
  }

  &__label {
    position: relative;
    align-self: flex-start;
    cursor: pointer;

    &:hover:not(:focus-visible) {
      .playlist__label-value::before {
        border-color: var(--primary);
      }
    }

    &-input {
      display: none;
    }
    &-value {
      padding-left: 42px;

      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: -7px;
        left: 0;
        background-color: transparent;
        border: 2px solid var(--text-gray);
        border-radius: 100%;
        transition: all .3s ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 9px;
        width: 12px;
        height: 12px;
        background-color: var(--white);
        border-radius: 100%;
        box-shadow: 0px 0px 5px rgba(30, 13, 68, 0.8);
        opacity: 0;
        transition: all .3s ease-in-out;
      }
    }

    &-input:checked + .playlist__label-value::before {
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &-input:checked + .playlist__label-value::after {
      opacity: 1;
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-gray);

    @include big-desktop {
      display: none;
    }

    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__copyright {
    margin-bottom: 6px;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-gray);

    @include big-desktop {
      display: none;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__age {
    @include flex-all-center;
    width: 30px;
    height: 30px;
    align-self: flex-start;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-gray);
    border: 1px solid var(--text-gray);
    border-radius: 100%;

    @include big-desktop {
      display: none;
    }
  }
}
