.podcast {
  background-color:var(--light-color);

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 94px;
    padding-bottom: 94px;
    @include mobile {
      padding-top: 54px;
      padding-bottom: 54px;
    }
  }

  &__title {
    margin-bottom: 30px;
    align-items: flex-start;
  }

  &__grid {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 970px) {
      grid-template-columns: 1fr;
    }
  }

  &__btn {
    width: 250px;
    align-self: center;
    color: var(--primary);
    border-color: var(--primary);

    &:hover:not(:focus-visible) {
      color: var(--white);
      border-color: var(--primary);
      background-color: var(--primary);
    }

    &:active:not(:focus-visible) {
      color: var(--white);
      background-color: var(--primary-shade);
      border-color: var(--primary-shade);
    }

    &.focus-visible {
      color: var(--white);
      background-color: var(--primary-light);
      border-color: var(--primary-shade);
    }
  }
}
