<section class="about-us">
  <div class="container about-us__container">
    <h2 class="title about-us__title">О нас</h2>
    <p class="about-us__subtitle">Приём-приём! Как слышно? Мы уже в эфире? Отлично, поехали!</p>
    <p class="about-us__descr">Друзья, мы будем очень рады, если вы поможете стать нам лучше. Нам важен каждый слушатель, поэтому вы можете поделиться обратной связью о наших предеачах, темах, подборках и вообще обо всём! Это можно сделать либо написав нам в форме ниже, либо кликнув на наши соцсети в подвале сайта. Спасибо! Услышимся! :)</p>
    <div class="about-us__content">
      <article class="about-card">
        <picture class="about-card__pic">
          <source media="(max-width: 1440px" srcset="img/aboutus-1-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-1-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-1-1024.jpg" width="397">
          <source srcset="img/aboutus-1.avif" type="image/avif">
          <source srcset="img/aboutus-1.webp" type="image/webp">
          <img loading="lazy" src="img/aboutus-1.jpg" class="image" width="255" height="255" alt="Фотография Дмитрия Гутенберга">
        </picture>
        <h3 class="about-card__name">Дмитрий Гутенберг</h3>
        <p class="about-card__descr">Эксперт (ну, почти) по всем вопросам (почти).</p>
      </article>
      <article class="about-card">
        <picture class="about-card__pic">
          <source media="(max-width: 1440px" srcset="img/aboutus-2-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-2-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-2-1024.jpg" width="397">
          <source srcset="img/aboutus-2.avif" type="image/avif">
          <source srcset="img/aboutus-2.webp" type="image/webp">
          <img loading="lazy" src="img/aboutus-2.jpg" class="image" width="255" height="255" alt="Фотография Анны Васильевны">
        </picture>
        <h3 class="about-card__name">Анна Васильева</h3>
        <p class="about-card__descr">Как я здесь оказалась? А главное — зачем?</p>
      </article>
      <article class="about-card">
        <picture class="about-card__pic">
          <source media="(max-width: 1440px" srcset="img/aboutus-3-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-3-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-3-1024.jpg" width="397">
          <source srcset="img/aboutus-3.avif" type="image/avif">
          <source srcset="img/aboutus-3.webp" type="image/webp">
          <img loading="lazy" src="img/aboutus-3.jpg" class="image" width="255" height="255" alt="Фотография Петра Дмитриевского">
        </picture>
        <h3 class="about-card__name">Пётр Дмитриевский</h3>
        <p class="about-card__descr">Господа! Внимание!! Благодарю за внимание!!!</p>
      </article>
      <article class="about-card">
        <picture class="about-card__pic">
          <source media="(max-width: 1440px" srcset="img/aboutus-4-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-4-1024.avif" type="image/avif">
          <source media="(max-width: 1440px" srcset="img/aboutus-4-1024.jpg" width="397">
          <source srcset="img/aboutus-4.avif" type="image/avif">
          <source srcset="img/aboutus-4.webp" type="image/webp">
          <img loading="lazy" src="img/aboutus-4.jpg" class="image" width="255" height="255" alt="Фотография Татьяны Флегановной">
        </picture>
        <h3 class="about-card__name">Татьяна Флеганова</h3>
        <p class="about-card__descr">Одна я в пальто стою красивая, а вокруг...</p>
      </article>
    </div>
    <form class="about-us__form form">
      <textarea name="message" class="input-reset form__textarea" placeholder="Что скажете?"></textarea>
      <input type="text" class="form__input input-reset" placeholder="Имя">
      <input type="text" class="form__input input-reset" placeholder="E-mail">
      <button class="btn btn-reset btn--fill form__btn" type="submit">Отправить</button>
      <label class="form__label">
        <input type="checkbox" name="checkbox" class="custom-checkbox">
        <span class="form__label-value">Согласен на обработку персональных данных</span>
      </label>
    </form>
  </div>
</section>
