<section class="broadcast">
  <div class="container broadcast__container">
    <div class="broadcast__aside">
      <h2 class="title broadcast__title">Передачи</h2>
      <label class="broadcast__label">
        <div class="broadcast__subtitle">Автор:</div>
        <select name="broadcast-author" id="broadcast-select" class="broadcast__select">
          <option value="Dmitriy Gytenberg">Дмитрий Гутенберг</option>
          <option value="Tatyana Fleganova">Татьяна Флеганова</option>
          <option value="Anna Vasilyeva">Анна Васильева</option>
          <option value="Petr Dmitrievskiy">Пётр Дмитриевский</option>
        </select>
      </label>
      <button class="btn-reset btn btn-secondary btn--stroke broadcast__btn">
        <svg class="broadcast__btn-icon">
          <use xlink:href="img/sprite.svg#broadcast-btn-icon"></use>
        </svg>
        <span class="broadcast__btn-value">Архив</span>
      </button>
      <p class="broadcast__descr">
        В архив попадают все передачи, которые вы пропустили! <span>Enjoy :)</span>
      </p>
    </div>
    <div class="broadcast__grid">
      <article class="broadcast-card">
        <picture class="broadcast-card__pic">
          <source srcset="img/broadcast-1.avif" type="image/avif">
          <source srcset="img/broadcast-1.webp" type="image/webp">
          <img loading="lazy" src="img/broadcast-1.jpg" class="image" width="255" height="148" alt="Обложка передачи 'О людях и книгах'">
        </picture>
        <div class="broadcast-card__content">
          <h3 class="broadcast-card__title">О людях и книгах</h3>
          <p class="broadcast-card__descr">Анонсируется отдельно</p>
          <a href="#" class="broadcast-card__link broadcast-link">
            <span class="broadcast-link__value">Подробнее</span>
            <svg class="broadcast-link__icon">
              <use xlink:href="img/sprite.svg#broadcast-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
      <article class="broadcast-card">
        <picture class="broadcast-card__pic">
          <source srcset="img/broadcast-2.avif" type="image/avif">
          <source srcset="img/broadcast-2.webp" type="image/webp">
          <img loading="lazy" src="img/broadcast-2.jpg" class="image" width="255" height="148" alt="Обложка передачи 'Графомания td.'">
        </picture>
        <div class="broadcast-card__content">
          <h3 class="broadcast-card__title">Графомания td.</h3>
          <p class="broadcast-card__descr">По понедельникам в 10:00 </p>
          <a href="#" class="broadcast-card__link broadcast-link">
            <span class="broadcast-link__value">Подробнее</span>
            <svg class="broadcast-link__icon">
              <use xlink:href="img/sprite.svg#broadcast-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
      <article class="broadcast-card">
        <picture class="broadcast-card__pic">
          <source srcset="img/broadcast-3.avif" type="image/avif">
          <source srcset="img/broadcast-3.webp" type="image/webp">
          <img loading="lazy" src="img/broadcast-3.jpg" class="image" width="255" height="148" alt="Обложка передачи 'Не Рим, не Троя'">
        </picture>
        <div class="broadcast-card__content">
          <h3 class="broadcast-card__title">Не Рим, не Троя</h3>
          <p class="broadcast-card__descr">По вторникам в 12:00</p>
          <a href="#" class="broadcast-card__link broadcast-link">
            <span class="broadcast-link__value">Подробнее</span>
            <svg class="broadcast-link__icon">
              <use xlink:href="img/sprite.svg#broadcast-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
      <article class="broadcast-card">
        <picture class="broadcast-card__pic">
          <source srcset="img/broadcast-4.avif" type="image/avif">
          <source srcset="img/broadcast-4.webp" type="image/webp">
          <img loading="lazy" src="img/broadcast-4.jpg" class="image" width="255" height="148" alt="Обложка передачи 'Эрудит'">
        </picture>
        <div class="broadcast-card__content">
          <h3 class="broadcast-card__title">Эрудит</h3>
          <p class="broadcast-card__descr">По пятницам в 17:00</p>
          <a href="#" class="broadcast-card__link broadcast-link">
            <span class="broadcast-link__value">Подробнее</span>
            <svg class="broadcast-link__icon">
              <use xlink:href="img/sprite.svg#broadcast-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
      <article class="broadcast-card">
        <picture class="broadcast-card__pic">
          <source srcset="img/broadcast-5.avif" type="image/avif">
          <source srcset="img/broadcast-5.webp" type="image/webp">
          <img loading="lazy" src="img/broadcast-5.jpg" class="image" width="255" height="148" alt="Обложка передачи 'Тонкости эпох'">
        </picture>
        <div class="broadcast-card__content">
          <h3 class="broadcast-card__title">Тонкости эпох</h3>
          <p class="broadcast-card__descr">По субботам в 10:00</p>
          <a href="#" class="broadcast-card__link broadcast-link">
            <span class="broadcast-link__value">Подробнее</span>
            <svg class="broadcast-link__icon">
              <use xlink:href="img/sprite.svg#broadcast-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
      <article class="broadcast-card">
        <picture class="broadcast-card__pic">
          <source srcset="img/broadcast-6.avif" type="image/avif">
          <source srcset="img/broadcast-6.webp" type="image/webp">
          <img loading="lazy" src="img/broadcast-6.jpg" class="image" width="255" height="148" alt="Обложка передачи 'Живые мысли'">
        </picture>
        <div class="broadcast-card__content">
          <h3 class="broadcast-card__title">Живые мысли</h3>
          <p class="broadcast-card__descr">По воскресеньям в 15:30</p>
          <a href="#" class="broadcast-card__link broadcast-link">
            <span class="broadcast-link__value">Подробнее</span>
            <svg class="broadcast-link__icon">
              <use xlink:href="img/sprite.svg#broadcast-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
