<section class="guests">
  <div class="container guests__container">
    <h2 class="title guests__title">Гости</h2>
    <div class="guests__subtitle">У нас бывают:</div>
    <p class="guests__descr">Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки, историки, филологи и много других интересных гостей!</p>
    <div class="guests__accordion accordion">
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Блогеры</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Арт-критики</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Художники</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Люди науки</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Историки</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Филологи</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- <div class="tabs" data-tabs="">
  <ul class="tabs__nav">
    <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button"></button></li>
    <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button"></button></li>
    <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button"></button></li>
  </ul>
  <div class="tabs__content">
    <div class="tabs__panel"></div>
    <div class="tabs__panel"></div>
    <div class="tabs__panel"></div>
  </div>
</div> -->
