<section class="guests">
  <div class="container guests__container">
    <h2 class="title guests__title">Гости</h2>
    <div class="guests__subtitle">У нас бывают:</div>
    <p class="guests__descr">Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки, историки, филологи и много других интересных гостей!</p>
    <div class="guests__accordion accordion">
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Блогеры</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn active" data-tabs="guest-1" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Арт-критики</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Художники</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Люди науки</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Историки</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
      <button class="btn-reset accordion__btn">
        <span class="accordion__btn-value">Филологи</span>
        <svg class="accordion__btn-icon">
          <use xlink:href="img/sprite.svg#accordion-btn"></use>
        </svg>
      </button>
      <div class="accordion__panel tabs" data-tabs="">
        <ul class="list-reset accordion__list tabs__nav">
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Сергей Денисов</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Матвей Мечников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Константин Прусино</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Иван Калитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Евгений Войновский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Ольга Мартынова</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Дмитрий Михалок</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Пётр Пиотровский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Олег Свиридовский</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Владислав Кауперс</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Михаил Пожитников</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Георгий Полуян</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Денис Тельман</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Юрий Горин</button>
          </li>
          <li class="accordion__item">
            <button class="btn-reset tabs__nav-btn" data-tabs="tab-plug" type="button">Максим Сергеев</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="tabs-container">
      <div class="tab-content tab-plug" data-content="tab-plug">
        <picture class="tab-content__pic">
          <source srcset="img/tab-plug.avif" type="image/avif">
          <source srcset="img/tab-plug.webp" type="image/webp">
          <img loading="lazy" src="img/tab-plug.png" class="image" width="350" height="220" alt="Заглушка фотографии">
        </picture>
        <ul class="list-reset tab-content__list">
          <li class="tab-content__item">
            <a href="#" class="tab-content__social-link">
              <svg class="tab-content__icon">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="tab-content__item">
            <a href="#" class="tab-content__social-link">
              <svg class="tab-content__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="tab-content__item">
            <a href="#" class="tab-content__social-link">
              <svg class="tab-content__icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
        <h3 class="tab-content__title">Имя гостя</h3>
        <p class="tab-content__descr">описание</p>
        <a href="#" class="tab-content__link">Эфиры с гостем</a>
      </div>
      <div class="tab-content active" data-content="guest-1">
        <picture class="tab-content__pic">
          <source srcset="img/guest-1.avif" type="image/avif">
          <source srcset="img/guest-1.webp" type="image/webp">
          <img loading="lazy" src="img/guest-1.png" class="image" width="350" height="220" alt="Заглушка фотографии">
        </picture>
        <ul class="list-reset tab-content__list">
          <li class="tab-content__item">
            <a href="#" class="tab-content__social-link">
              <svg class="tab-content__icon">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="tab-content__item">
            <a href="#" class="tab-content__social-link">
              <svg class="tab-content__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="tab-content__item">
            <a href="#" class="tab-content__social-link">
              <svg class="tab-content__icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
        <h3 class="tab-content__title">Ольга Мартынова</h3>
        <p class="tab-content__descr">Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.</p>
        <a href="#" class="tab-content__link">Эфиры с гостем</a>
      </div>
    </div>
  </div>
</section>
