<section class="offer">
  <div class="container offer__container">
    <picture class="offer__img">
      <source srcset="img/offer-img.avif" type="image/avif">
      <source srcset="img/offer-img.webp" type="image/webp">
      <img loading="lazy" src="img/offer-img.png" class="image" width="640" height="562" alt="Изображение W-Wave 1.0 xm.">
    </picture>
    <div class="offer__content">
      <h2 class="title offer__title">Будь с нами на одной волне!</h2>
      <p class="offer__text">
        Друзья, рады представить вам продукт нашего производства! Да-да, несмотря на то, что мы только начали свой путь радиовещателей, нам хочется, чтобы вы могли как следует нас расслышать :)
      </p>
      <p class="offer__descr">
        Итак, встречайте! Портативный радиоприёмник-колонка <span>W-Wave 1.0 xm.</span> Тщательный подбор всех делатей, ручная сборка, качественный звук. Пока доступно только 60 штук в 3 цветах, но мы активно трудимся над новыми партиями и дизайном. Спешите приобрести!
      </p>
      <div class="offer__price">2800 руб</div>
      <a href="#" class="btn btn-reset btn--stroke offer__btn">
        <svg class="offer__btn-icon">
          <use xlink:href="img/sprite.svg#yandex-btn"></use>
        </svg>
        <span class="offer__btn-value">Купить на Яндекс.Маркет</span>
      </a>
    </div>
  </div>
</section>
