<section class="playlist">
  <div class="container playlist__container">
    <div class="playlist__aside">
      <h2 class="title playlist__title">Плейлисты</h2>
      <div class="playlist__subtitle">Жанр</div>
      <form class="playlist__form">
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Постпанк</span>
        </label>
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Хардкор</span>
        </label>
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Панк-рок</span>
        </label>
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Рок</span>
        </label>
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Прогрессивный рок</span>
        </label>
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Электронная музыка</span>
        </label>
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Классическая музыка</span>
        </label>
        <label class="playlist__label">
          <input type="radio" name="playlist" class="playlist__label-input">
          <span class="playlist__label-value">Звуки природы и шум города</span>
        </label>
      </form>
      <p class="playlist__descr">Раздел «Плейлисты» может содержать информацию, не предназначенную для несовершеннолетних.</p>
      <small class="playlist__copyright">© 2021 l W-Wave</small>
      <div class="playlist__age">18+</div>
    </div>
    <div class="playlist__grid">
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-1.avif" type="image/avif">
          <source srcset="img/playlist-1.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Ploho'">
        </picture>
        <img src="img/playlist-rus.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Ploho</a></h3>
          <p class="playlist-card__descr">3 последних альбома</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-2.avif" type="image/avif">
          <source srcset="img/playlist-2.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-2.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Molchat Doma'">
        </picture>
        <img src="img/playlist-rus.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Molchat Doma</a></h3>
          <p class="playlist-card__descr">Все песни</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-3.avif" type="image/avif">
          <source srcset="img/playlist-3.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-3.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Motorama'">
        </picture>
        <img src="img/playlist-rus.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Motorama</a></h3>
          <p class="playlist-card__descr">Все синглы</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-4.avif" type="image/avif">
          <source srcset="img/playlist-4.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-4.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Human Tetris'">
        </picture>
        <img src="img/playlist-rus.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Human Tetris</a></h3>
          <p class="playlist-card__descr">3 последних альбома</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-5.avif" type="image/avif">
          <source srcset="img/playlist-5.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-5.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Буерак'">
        </picture>
        <img src="img/playlist-rus.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Буерак</a></h3>
          <p class="playlist-card__descr">Все EP</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-6.avif" type="image/avif">
          <source srcset="img/playlist-6.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-6.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Июльские Дни'">
        </picture>
        <img src="img/playlist-rus.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Июльские Дни</a></h3>
          <p class="playlist-card__descr">Альбом «Колокол»</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-7.avif" type="image/avif">
          <source srcset="img/playlist-7.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-7.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Joy Division'">
        </picture>
        <img src="img/playlist-uk.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Joy Division</a></h3>
          <p class="playlist-card__descr">Лучшее за всё время</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-8.avif" type="image/avif">
          <source srcset="img/playlist-8.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-8.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'The Cure'">
        </picture>
        <img src="img/playlist-uk.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">The Cure</a></h3>
          <p class="playlist-card__descr">Лучшее за всё время</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-9.avif" type="image/avif">
          <source srcset="img/playlist-9.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-9.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'The Smiths'">
        </picture>
        <img src="img/playlist-uk.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">The Smiths</a></h3>
          <p class="playlist-card__descr">Период 1984-1988</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-10.avif" type="image/avif">
          <source srcset="img/playlist-10.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-10.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'New Order'">
        </picture>
        <img src="img/playlist-uk.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">New Order</a></h3>
          <p class="playlist-card__descr">Хиты</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-11.avif" type="image/avif">
          <source srcset="img/playlist-11.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-11.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Bauhaus'">
        </picture>
        <img src="img/playlist-uk.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Bauhaus</a></h3>
          <p class="playlist-card__descr">Все синглы</p>
        </div>
      </article>
      <article class="playlist-card">
        <picture>
          <source srcset="img/playlist-12.avif" type="image/avif">
          <source srcset="img/playlist-12.webp" type="image/webp">
          <img loading="lazy" src="img/playlist-12.jpg" class="image" width="160" height="160" alt="Обложка плейлиста 'Gang Of Four'">
        </picture>
        <img src="img/playlist-uk.jpg" alt="Страна исполнителя" class="playlist-card__country">
        <div class="playlist-card__content">
          <h3 class="playlist-card__title"><a href="#" class="playlist-card__link">Gang Of Four</a></h3>
          <p class="playlist-card__descr">3 последних альбома</p>
        </div>
      </article>
    </div>
  </div>
</section>
