<section class="podcast">
  <div class="container podcast__container">
    <h2 class="title podcast__title">Подкасты</h2>
    <div class="podcast__grid">
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-1.avif" type="image/avif">
          <source srcset="img/podcast-1.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-1.jpg" class="image" width="112" height="140" alt="обложка подкаста Европа. XIX век">
        </picture>
        <div class="podcast-card__date">14 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">15:43</span>
            <h2 class="podcast-card__name">Европа. XIX век</h2>
            <h2 class="podcast-card__author">Дмитрий Гутенберг</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">258</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">104</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">68</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-2.avif" type="image/avif">
          <source srcset="img/podcast-2.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-2.jpg" class="image" width="112" height="140" alt="обложка подкаста О музыке">
        </picture>
        <div class="podcast-card__date">11 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">5:32</span>
            <h2 class="podcast-card__name">О музыке</h2>
            <h2 class="podcast-card__author">Дмитрий Гутенберг</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">207</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">34</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">18</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-3.avif" type="image/avif">
          <source srcset="img/podcast-3.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-3.jpg" class="image" width="112" height="140" alt="обложка подкаста Люди сегодня">
        </picture>
        <div class="podcast-card__date">8 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">8:54</span>
            <h2 class="podcast-card__name">Люди сегодня</h2>
            <h2 class="podcast-card__author">Анна Васильева</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">104</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">54</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">42</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-4.avif" type="image/avif">
          <source srcset="img/podcast-4.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-4.jpg" class="image" width="112" height="140" alt="обложка подкаста Хэллоу, Африка!">
        </picture>
        <div class="podcast-card__date">5 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">9:04</span>
            <h2 class="podcast-card__name">Хэллоу, Африка!</h2>
            <h2 class="podcast-card__author">Пётр Дмитриевский</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">87</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">44</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">5</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-5.avif" type="image/avif">
          <source srcset="img/podcast-5.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-5.jpg" class="image" width="112" height="140" alt="обложка подкаста Обо всём">
        </picture>
        <div class="podcast-card__date">2 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">7:03</span>
            <h2 class="podcast-card__name">Обо всём</h2>
            <h2 class="podcast-card__author">Пётр Дмитриевский</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">64</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">30</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">8</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-6.avif" type="image/avif">
          <source srcset="img/podcast-6.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-6.jpg" class="image" width="112" height="140" alt="обложка подкаста Физика цвета">
        </picture>
        <div class="podcast-card__date">28 мая</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">9:15</span>
            <h2 class="podcast-card__name">Физика цвета</h2>
            <h2 class="podcast-card__author">Татьяна Флеганова</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">58</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">29</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">14</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-7.avif" type="image/avif">
          <source srcset="img/podcast-7.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-7.jpg" class="image" width="112" height="140" alt="обложка подкаста Источник звука">
        </picture>
        <div class="podcast-card__date">22 мая</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">16:04</span>
            <h2 class="podcast-card__name">Источник звука</h2>
            <h2 class="podcast-card__author">Пётр Дмитриевский</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">55</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">20</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">12</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-8.avif" type="image/avif">
          <source srcset="img/podcast-8.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-8.jpg" class="image" width="112" height="140" alt="обложка подкаста Правила этикета">
        </picture>
        <div class="podcast-card__date">14 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">6:55</span>
            <h2 class="podcast-card__name">Правила этикета</h2>
            <h2 class="podcast-card__author">Татьяна Флеганова</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">24</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">54</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">42</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card podcast-card_hidden">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-1.avif" type="image/avif">
          <source srcset="img/podcast-1.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-1.jpg" class="image" width="112" height="140" alt="обложка подкаста Европа. XIX век">
        </picture>
        <div class="podcast-card__date">14 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">15:43</span>
            <h2 class="podcast-card__name">Европа. XIX век</h2>
            <h2 class="podcast-card__author">Дмитрий Гутенберг</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">258</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">104</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">68</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card podcast-card_hidden">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-1.avif" type="image/avif">
          <source srcset="img/podcast-1.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-1.jpg" class="image" width="112" height="140" alt="обложка подкаста Европа. XIX век">
        </picture>
        <div class="podcast-card__date">14 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">15:43</span>
            <h2 class="podcast-card__name">Европа. XIX век</h2>
            <h2 class="podcast-card__author">Дмитрий Гутенберг</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">258</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">104</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">68</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card podcast-card_hidden">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-1.avif" type="image/avif">
          <source srcset="img/podcast-1.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-1.jpg" class="image" width="112" height="140" alt="обложка подкаста Европа. XIX век">
        </picture>
        <div class="podcast-card__date">14 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">15:43</span>
            <h2 class="podcast-card__name">Европа. XIX век</h2>
            <h2 class="podcast-card__author">Дмитрий Гутенберг</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">258</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">104</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">68</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="podcast-card podcast-card_hidden">
        <picture class="podcast-card__pic">
          <source srcset="img/podcast-1.avif" type="image/avif">
          <source srcset="img/podcast-1.webp" type="image/webp">
          <img loading="lazy" src="img/podcast-1.jpg" class="image" width="112" height="140" alt="обложка подкаста Европа. XIX век">
        </picture>
        <div class="podcast-card__date">14 июня</div>
        <div class="podcast-card__content">
          <div class="podcast-card__info">
            <span class="podcast-card__time">15:43</span>
            <h2 class="podcast-card__name">Европа. XIX век</h2>
            <h2 class="podcast-card__author">Дмитрий Гутенберг</h2>
            <button class="btn-reset podcast-card__btn-play" aria-label="Кнопка 'проиграть'">
              <svg class="podcast-card__icon">
                <use xlink:href="img/sprite.svg#card-play"></use>
              </svg>
            </button>
          </div>
          <div class="podcast-card__ratings">
            <ul class="podcast-card__list list-reset">
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-view"></use>
                  </svg>
                  <span class="btn-rating__value">258</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-like"></use>
                  </svg>
                  <span class="btn-rating__value">104</span>
                </button>
              </li>
              <li class="podcast-card__item">
                <button class="btn-reset btn-rating">
                  <svg class="btn-rating__icon">
                    <use xlink:href="img/sprite.svg#podcast-share"></use>
                  </svg>
                  <span class="btn-rating__value">68</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <button class="btn-reset btn btn--stroke btn-main podcast__btn" id="podcast-btn">Ещё подкасты</button>
  </div>
</section>
